// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.nav-link.active {
    color: orange !important;
    font-weight: 2000;
    font-size: 1.5rem;
}

